<p>reporte works!</p>
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [fill]="chartOptions2.fill"
      [legend]="chartOptions2.legend"
      [plotOptions]="chartOptions2.plotOptions"
      [xaxis]="chartOptions2.xaxis"
    ></apx-chart>
  </div>

