*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------
Animación de las imagenes */
.body2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background:white;
}
.box{
    margin-top: 100px;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
    justify-content: center;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 50deg)) translateZ(400px);
}
.box span img{
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
/*--------------------------------------------------------------- 
Barra de navegación */
header{
width: 100%;
height: 90px;
background: white;
}
.menu{
background: white;
}
.menu ul li a{
    color: black;
}
.menu ul li a:hover{
    color: #0f0;
}
.interior{
    max-width: 100%;
    padding:0 10px ;
    margin: auto;
}

.Logo img{
    height: 80px;
}
.Logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    justify-content: space-between;
    display: flex;
    align-items:center ;
    min-height: 90px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #0f0;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .Submenu .hijos{
    display: none;
    background: white;
    position: absolute;
    width: 100%;
}

/*-----------------------------------------------------------------------
Contenido general */
.container-center{
    display: flex;
      justify-content: center; 
      align-items: center; 
      margin-top: 80px;
}
.img img{
    width: 100%;
    height: auto;
    clip-path: inset(0px 40px 0px 40px); /* Valores de recorte (arriba, derecha, abajo, izquierda) */
}