<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                
              </div>
            </div>
          <div class="col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>CompanyName</th>
              <th>Client Name</th>
              <th>Client Lastname</th>
              <th>Creation Date</th>
              <th>Expected Cose Date</th>
              <th>Total Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oports of OportunidadesService.oportunidades">
              <td>{{oports.companyName}}</td>
              <td>{{oports.clientName}}</td>
              <td>{{oports.clientLastName}}</td>
              <td>{{oports.CreationDate}}</td>
              <td>{{oports.expectedCoseDate}}</td>
              <td>{{oports.TotalProfit}}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="oports._id && deleteUser(oports._id)" >
                  <i class="material-icons"> delete </i>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="oports._id && Showall(oports._id)" >
                    <i class="material-icons"> search </i>
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="mostrarInfo">
            <h2> Company  Information </h2>
            <p>Company Name: {{ oportunidadInfo.companyName }}</p>
            <p>Country: {{ oportunidadInfo.country}}</p>
            <p>Address: {{ oportunidadInfo.address}}</p>
            <p>City: {{ oportunidadInfo.city}}</p>
            <p>State: {{ oportunidadInfo.state}}</p>
            <p>PostalCode: {{ oportunidadInfo.postalCode}}</p>
            <h2> Contact Information </h2>
            <p>Client Name: {{ oportunidadInfo.clientName}}</p>
            <p>Client Lastname: {{ oportunidadInfo.clientLastName}}</p>
            <p>Title: {{ oportunidadInfo.title}}</p>
            <p>Phone: {{ oportunidadInfo.phone}}</p>
            <h2> Oporunity Information </h2>
            <p>Expected Cose Date: {{ oportunidadInfo.expectedCoseDate}}</p>
            <p>Creation Oportunity Date: {{ oportunidadInfo.CreationDate }}</p>
            <p>Currency: {{ oportunidadInfo.currency}}</p>
            <p>Project Description : {{ oportunidadInfo.projectDescripcion}}</p>
            <p>Number License: {{ oportunidadInfo.numberLicense}}</p>
            <p>Price: {{ oportunidadInfo.price}}</p>
            <p>Total Profit: {{ oportunidadInfo.TotalProfit}}</p>
            <p>Status: {{ oportunidadInfo.status}}</p>
            <h3> Evidence </h3>
            <div *ngFor="let oports of oportunidadInfo.Evidence">
                <p>----------------------------------------------</p>
                <p>Name: {{ oports.nombre}}</p>
                <p>Description {{ oports.descripcion}}</p>
                <p>Feedback: {{ oports.feedback}}</p>
                <p>Creation Date: {{ oports.fechaCreacion}}</p>
                <p>Note: {{ oports.note}}</p>
                <p>----------------------------------------------</p>
            </div>
            <button (click)="toggleInfoVisibility()">Mostrar/Ocultar Información</button>
          </div>
      </div>
    </div>
    </div>

