<body>
    <h1>Conoce a nuestro Equipo</h1>
    <div class="imgContainer">
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Jaime Guañuna<br><span> Jefe Preventa </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de jaimito</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Carolina Cadena<br><span> Senior Product Manager </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de Caro</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Mishell Andrade<br><span> Coordinadora Marketing </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de Mishu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>David Ruiz<br><span> Ing Pre-Venta </span></h1>
                    <div class="data">
                        <p>Especialista Certificado en DeLinea</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Gabriela Vaca<br><span> Contadora General </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de Gabi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Regina Ormaza<br><span> Operaciones y Cobranzas </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de Regi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="imgBx">
                <img src="https://www.guatemala.com/fotos/2022/09/Maraton-de-perritos-sesiones-de-fotos-a-beneficio-de-Albergue-Amor-Animal-entre-lavanda.jpg">
            </div>
            <div class="content">
                <div class="image-text">
                    <h1>Marcia Larco<br><span> Servicios Generales </span></h1>
                    <div class="data">
                        <p>Inserte minibiografia de Regi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>