<body>
    <header >
      <div class="interior">
          <nav class="navegacion">
              <img src="https://static.wixstatic.com/media/e66e46_e148c4dd72dd4627a05b9890d47e0869~mv2.png/v1/crop/x_11,y_0,w_2332,h_552/fill/w_275,h_65,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logovialynk_color.png">
        </nav>
      </div>
      </header>
      <router-outlet></router-outlet>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">

              <button (click)="generarReporte()" > Generar Reporte </button>

            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1>Tabla de oportunidades de Usuarios de la Empresa </h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of companyservice.users">
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.country}}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="user._id && deleteUser(user._id)" >
                    <i class="material-icons"> delete </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <h1>Tabla de oportunidades de la Empresa </h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>CompanyName</th>
                <th>Client Name</th>
                <th>Client Lastname</th>
                <th>Creation Date</th>
                <th>Expected Cose Date</th>
                <th>Total Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oports of companyservice.oportunidades">
                <td>{{oports.companyName}}</td>
              <td>{{oports.clientName}}</td>
              <td>{{oports.clientLastName}}</td>
              <td>{{oports.CreationDate}}</td>
              <td>{{oports.expectedCoseDate}}</td>
              <td>{{oports.TotalProfit}}</td>
              <td>
                  <button class="btn btn-danger btn-sm" (click)="oports._id && deleteUser(oports._id)" >
                    <i class="material-icons"> delete </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
  </body>
  